.App {
  font-family: "Montserrat", "Roboto", sans-serif;
  text-align: center;
}

html {
  background-color: black;
}

.header {
  color: white;
}

.ans {
  font-size: 1.5rem;
  color: black;
  background-color: white;
  height: 2em;
  width: 22em;
  margin: 0 auto;
  padding-top: 0.8em;
  border-radius: 0.3em;
  max-width: 95%;
}

.input {
  width: 45em;
  margin-top: 2em;
  height: 3em;
  width: 30em;
  border-radius: 0.6em;
  border: none;
  max-width: 80%;
}

.text {
  color: white;
}

.container {
  width: 42em;
  margin: 0 auto;
  max-width: 92%;
}

.items {
  margin: 0 1em;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.items:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .ans {
    font-size: 1.1rem;
  }
}

@media (max-width: 408px) {
  .ans {
    font-size: 1rem;
  }
}
